/*

* Override Pages default styles or create your own styles here

*/


/* Material Icons */

.mdi-set.mdi-20px,
.mdi.mdi-20px:before {
    font-size: 20px;
}


/* Table content */

table.dataTable {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.table tbody tr td {
    vertical-align: middle;
}

.table tbody tr.selected td {
    background: #6FC171;
    color: white;
}

.table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before {
    top: auto;
}

.dataTables_wrapper .row {
    margin: 0;
}

.table.dataTable .table-tags span,
.seo-guide span {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.table.dataTable .table-cell-maxed-width {
    max-width: 200px;
    white-space: initial;
}


/* Buttons */

.btn {
    font-family: inherit;
}


/* Pagination icons */

.pagination .material-icons {
    /*vertical-align: bottom;*/
}


/* Forms and inputs */

.form-control,
input {
    font-family: inherit;
}

.bootstrap-filestyle {
    width: 100%;
    height: 25px;
    margin-top: -2px;
    margin-bottom: 3px;
    padding-left: 12px;
}

.bootstrap-filestyle input.form-control {
    margin-top: 0;
}

.group-span-filestyle.input-group-btn {
    display: none;
}

.form-control:focus::-moz-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control:focus:-ms-input-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control:focus::-webkit-input-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control::-moz-placeholder {
    color: initial;
    opacity: 0.5;
    ;
}

.form-control:-ms-input-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control::-webkit-input-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control[readonly] {
    color: initial;
    opacity: 1;
}

.input-group-addon {
    background: #f5f5f5;
    color: #ccc;
}

.switch-group .switch {
    width: 55px
}

.switch-group .switch-label {
    vertical-align: middle;
}


/* Side bar */

.page-sidebar .sidebar-menu .menu-items>li>a,
.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu>li>a {
    font-family: inherit;
}

.page-sidebar span.icon-thumbnail i {
    line-height: 20px;
}

.page-sidebar span span.title {
    font-size: 16px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
}

.page-sidebar span span.details {
    font-size: 12px;
    opacity: 0.4;
    display: block;
    clear: both;
    line-height: 22px;
}


/* Markdown editor */

.editor .nav-tabs-simple:after {
    border-bottom: none;
}

.editor .tab-content {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.editor .nav-tabs>li>a {
    padding: 5px;
    font-size: 10px;
    min-width: 0;
}

.editor .preview {
    height: 150px;
    background-color: #f9f9f9;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.editor .markdown {
    height: 150px;
    border: none;
    resize: none;
    outline: none;
    background-color: #f9f9f9;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}


/* Wallpaper edit modal
    Upload edit modal
 */

@media (max-width: 480px) {
    #edit-wallpaper-modal-body,
    #edit-upload-modal-body {
        flex-wrap: wrap;
    }
}


/* Cropit */

.cropit-preview-background {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=50);
}

.slider-wrapper {
    z-index: 1;
}

.slider-wrapper .cropit-image-zoom-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: #626262;
    outline: none;
}

.slider-wrapper .cropit-image-zoom-input::-moz-range-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: #626262;
    outline: none
}

.slider-wrapper .cropit-image-zoom-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #fff;
    box-shadow: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    transition: all .2s ease;
}

.slider-wrapper .cropit-image-zoom-input::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #fff;
    box-shadow: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    transition: all .2s ease;
}

.slider-wrapper .cropit-image-zoom-input::-webkit-slider-thumb:active,
.slider-wrapper .cropit-image-zoom-input::-webkit-slider-thumb:focus {
    transform: scale(1.3);
}


/* Select2 input group */

.select2-container-multi.select2-container-active .select2-search-choice {
    background-color: #64cbe4 !important;
}

.form-group-default.form-group-default-select2 {
    font-size: 14px;
}

.select2-container .select2-choice .select2-arrow b:before {
    content: "";
}

.select2-container .select2-choice .select2-arrow {
    background: url("../image/icons/sort_desc.png") no-repeat right 10px bottom 10px;
    width: 48px;
}

.select2:not(.with-border) .select2-container .select2-choice {
    padding: 3px 8px;
    border: none;
}

.form-group-default.form-group-default-select2 .select2-container .select2-choice {
    padding-top: 22px;
}

.form-group-default.form-group-default-select2>label {
    padding-top: 0;
}

.select2-results {
    padding: 0;
    margin: 4px;
}

.select2-drop-active {
    padding-top: 0;
}

.select2 span :not .mdi {
    color: #2c2c2c;
}

.select2:not(.option-selected) .select2-chosen {
    opacity: 0.5;
}

.select2.option-selected .select2-chosen {
    opacity: 1;
}


/* Colors */

.bg-semitransparent {
    background: rgba(255, 255, 255, 0.5);
}


/* MagicSuggest */

.ms-ctn {
    margin-top: 0px !important;
}

.ms-ctn.form-group-default {
    overflow: visible;
}

.ms-helper {
    top: 5px !important;
    right: 5px;
}

.ms-sel-ctn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px !important;
}

.ms-ctn input,
.ms-ctn input:focus {
    background-color: transparent;
}

.ms-tag {
    margin-right: 2px;
    line-height: normal !important;
}


/* Utilities */

.full-width {
    width: 100% !important;
}

.display-table {
    display: table;
}

.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.m-y-auto {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flex {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@media (max-width: 480px) {
    .full-mobile {
        width: 100%;
    }
    .xs-no-margin {
        margin: 0px;
    }
    .xs-no-padding {
        padding: 0px;
    }
    .xs-m-t-0 {
        margin-top: 0px !important;
    }
    .xs-m-r-0 {
        margin-right: 0px !important;
    }
    .xs-m-l-0 {
        margin-left: 0px !important;
    }
    .xs-m-b-0 {
        margin-bottom: 0px !important;
    }
}


/* Datepicker fix */

.input-group.date .input-group-addon i {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.datepicker.dropdown-menu {
    font-family: inherit;
}

.datepicker:after {
    border-bottom-color: #fff;
}

.datepicker thead tr .next:before,
.datepicker thead tr .prev:before {
    font-family: 'Material Design Icons';
}

.datepicker thead tr .next:before {
    content: "\F142";
}

.datepicker thead tr .prev:before {
    content: "\F141";
}


/* Pages fixes*/

img {
    vertical-align: middle !important;
}


/* Misc */

#galleries-list {
    list-style-type: none;
}

#galleries-list li {
    display: inline-block;
    width: 100%;
    height: 36px;
    line-height: 36px;
}

#galleries-list li span {
    display: inline-block;
    line-height: 34px;
    color: #adadad;
    vertical-align: top;
}

#galleries-list li i {
    line-height: 42px;
}

#galleries-list li a {
    display: block;
    color: #adadad;
    text-align: center;
    height: 34px;
    border: 1px #e6e6e6;
    border-left-style: none;
    border-radius: 0 3px 3px 0;
}

.checkbox label {
    white-space: normal;
}

.vertical-center {
    vertical-align: middle;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}