/*

* Override Pages default styles or create your own styles here

*/


/* Material Icons */

.mdi-set.mdi-20px,
.mdi.mdi-20px:before {
    font-size: 20px;
}


/* Buttons */

.btn {
    font-family: inherit;
}

.btn-social {
    display: inline-block;
    color: #fff;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active {
    outline: 0;
    opacity: 0.8;
    color: #fff;
}

.btn-facebook,
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus {
    background: #4862a3;
    border-color: #4862a3;
}

.btn-twitter,
.btn-twitter:hover,
.btn-twitter:active,
.btn-twitter:focus {
    background: #55acee;
    border-color: #55acee;
}

.btn-pinterest,
.btn-pinterest:hover,
.btn-pinterest:active,
.btn-pinterest:focus {
    background: #c92228;
    border-color: #c92228;
}

.btn-instagram,
.btn-instagram:hover,
.btn-instagram:active,
.btn-instagram:focus {
    background: #e1306c;
    border-color: #e1306c;
}


/* Borders */

.b-grey {
    border-color: #eee;
}


/* Colors */

.bg-semitransparent {
    background: rgba(255, 255, 255, 0.85) !important;
}

.bg-alpha {
    background: rgba(255, 255, 255, 0.7) !important;
}


/* Forms and inputs */

.form-control,
input {
    font-family: inherit;
}

.bootstrap-filestyle {
    width: 100%;
    height: 25px;
    margin-top: -2px;
    margin-bottom: 3px;
    padding-left: 12px;
}

.bootstrap-filestyle input.form-control {
    margin-top: 0;
}

.group-span-filestyle.input-group-btn {
    display: none;
}

.form-control:focus::-moz-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control:focus:-ms-input-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control:focus::-webkit-input-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control::-moz-placeholder {
    color: initial;
    opacity: 0.5;
    ;
}

.form-control:-ms-input-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control::-webkit-input-placeholder {
    color: initial;
    opacity: 0.5;
}

.form-control[readonly] {
    color: initial;
    opacity: 1;
}

.input-group-addon {
    background: #f5f5f5;
    color: #ccc;
}

.switch-group .switch {
    width: 55px
}

.switch-group .switch-label {
    vertical-align: middle;
}


/* Cropit */

.cropit-preview-background {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=50);
}

.cropit-preview {
    margin: auto;
}

#avatar-loader {
    position: absolute;
    z-index: 1;
}

#avatar-loader .progress {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px
}

.slider-wrapper {
    z-index: 1;
}

.slider-wrapper .cropit-image-zoom-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: #626262;
    outline: none;
}

.slider-wrapper .cropit-image-zoom-input::-moz-range-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: #626262;
    outline: none
}

.slider-wrapper .cropit-image-zoom-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #fff;
    box-shadow: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    transition: all .2s ease;
}

.slider-wrapper .cropit-image-zoom-input::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #fff;
    box-shadow: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    transition: all .2s ease;
}

.slider-wrapper .cropit-image-zoom-input::-webkit-slider-thumb:active,
.slider-wrapper .cropit-image-zoom-input::-webkit-slider-thumb:focus {
    transform: scale(1.3);
}


/* Datepicker fix */

.input-group.date .input-group-addon i {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.datepicker.dropdown-menu {
    font-family: inherit;
}

.datepicker:after {
    border-bottom-color: #fff;
}

.datepicker thead tr .next:before,
.datepicker thead tr .prev:before {
    font-family: 'Material Design Icons';
}

.datepicker thead tr .next:before {
    content: "\F142";
}

.datepicker thead tr .prev:before {
    content: "\F141";
}


/* Select2 input group */

.form-group-default.form-group-default-select2 {
    font-size: 14px;
}

.select2-container .select2-choice .select2-arrow b:before {
    content: "";
}

.select2-container .select2-choice .select2-arrow {
    background: url("../image/icons/sort_desc.png") no-repeat right 10px bottom 10px;
    width: 48px;
}

.select2:not(.with-border) .select2-container .select2-choice {
    padding: 3px 8px;
    border: none;
}

.form-group-default.form-group-default-select2 .select2-container .select2-choice {
    padding-top: 22px;
}

.form-group-default.form-group-default-select2>label {
    padding-top: 0;
}

.select2-results {
    padding: 0;
    margin: 4px;
}

.select2-drop-active {
    padding-top: 0;
}

.select2 span :not .mdi {
    color: #2c2c2c;
}

.select2:not(.option-selected) .select2-chosen {
    opacity: 0.5;
}

.select2.option-selected .select2-chosen {
    opacity: 1;
}


/* Wallpaper upload */

#wallpaper-upload-preview {
    margin: auto;
    max-width: 100%;
    display: block;
}


/* H1 and gallery sort */

.title-order h1 {
    font-size: 24px;
    line-height: 24px;
}

.title-order h2 {
    font-size: 18px;
    line-height: 18px;
}

.home-page .gallery-filters {
    padding-top: 40px !important;
}

@media (max-width:920px) {
    .title-order>div {
        text-align: center;
        float: none !important;
        width: 100%
    }
    .home-page .gallery-filters {
        padding-top: 15px !important;
    }
}

@media (max-width:580px) {
    .title-order .hide-xs {
        display: none;
    }
    .title-order .btn-group {
        display: flex !important;
        display: ms-flexbox !important;
    }
}


/* Gallery */

.gallery-item img.lazy {
    min-width: 100%;
    min-height: 100%;
    color: #000;
}

.gallery-item>a {
    display: block;
}

.gallery .bg-featured,
.owl-carousel .bg-featured {
    background-color: gold;
}

.gallery-item[data-width="1"]>a>img {
    display: block;
    width: 100%;
    margin-top: calc(calc(calc(100%) * 0.832 - 250px) * -0.5);
}

@media (max-width:650px) {
    .gallery-item[data-width="2"]>a>img {
        width: 610px;
        position: absolute;
        left: 50%;
        margin-left: -50%
    }
}

@media (max-width:420px) {
    .gallery-item[data-width="2"]>a>img {
        margin-left: -100%
    }
}

.gallery-item .btn-favorite-container {
    z-index: 99;
}

.pagination>li>a,
.pagination>li>span {
    color: #000;
    background-color: #fff;
    border: none;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    background-color: #fff;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #000;
    background-color: #f1f1f1;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #000;
    background-color: #f1f1f1;
}


/* Wallpaper preview */

#wallpaper-preview-title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1px;
}

#wallpaper-preview {
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;
}

#wallpaper-details p:not(#description) {
    font-size: 10px;
    line-height: 25px;
    margin-bottom: 0;
}

.owl-carousel .gallery-owl-item {
    width: auto !important;
}


/* Side bar */

.page-sidebar .sidebar-menu .menu-items>li>a,
.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu>li>a {
    font-family: inherit;
}

.page-sidebar span.icon-thumbnail i {
    line-height: 20px;
}

.page-sidebar span span.title {
    font-size: 16px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
}

.page-sidebar span span.details {
    font-size: 12px;
    opacity: 0.4;
    display: block;
    clear: both;
    line-height: 22px;
}


/* Cookie alert */

#cookie-alert {
    width: calc(100% - 70px);
    min-height: 54px;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

@media (max-width: 990px) {
    #cookie-alert {
        width: 100%;
    }
}


/* Extra containers */

.passreset-container,
.activation-container,
.provider-username-container {
    width: 550px;
    margin: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .passreset-container,
    .activation-container,
    .provider-username-container {
        width: 100%;
        padding: 15px;
    }
}


/* Dropdown */

.dropdown-default .dropdown-menu:after {
    background: none !important;
}


/* Download Dropdown */

#download-dropdown {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #FFF;
}


/**
    Hide the checkbox itself. Checking and unchecking 
    it we will be done via the label element.
*/

#download-dropdown input[type=checkbox] {
    display: none;
}


/* Click to expand button */

#download-dropdown label {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*  The ul will have display:none by default */

#download-dropdown ul {
    max-height: 172px;
    overflow-y: scroll;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    list-style: none;
    text-align: left;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#download-dropdown .scroll-wrapper {
    display: none;
}

#download-dropdown ul li {
    text-decoration: none;
    border-radius: 0;
}

#download-dropdown ul li.list-header {
    cursor: default;
}


/**

    By using the Following-sibling selector (~),
    we can target elements positioned after our checkbox in the DOM tree.

    With the state pseudo selector (:checked),
    we can make changes depending on the state of the checkbox.

    Using this combination of selectors
    allows to change the color of the label
    and show the list of items
    only when the checkbox is checked.

*/

#download-dropdown input[type=checkbox]:checked~label {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#download-dropdown input[type=checkbox]:checked~.scroll-wrapper {
    display: block;
}


/* iOS 9 Sibling Selector (~) Bugfix 
http://freshinbox.com/blog/android-css-general-sibling-selector-bug/ */

body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }
    to {
        padding: 0;
    }
}


/* MagicSuggest */

.ms-ctn {
    margin-top: 0px !important;
    padding: 5px 0 !important;
}

.ms-ctn.form-group-default {
    overflow: visible;
}

.ms-helper {
    top: 5px !important;
    right: 5px;
}

.ms-sel-ctn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px !important;
}

.ms-ctn input,
.ms-ctn input:focus {
    background-color: transparent;
}

.ms-tag {
    margin-right: 2px;
    line-height: normal !important;
}

.bootstrap-tagsinput {
    margin-bottom: 0 !important;
}


/* Device picker */

#device-picker .device-picker-field-group {
    border-radius: 4px;
    border: solid 2px #607D8B;
    box-sizing: border-box;
}

#device-picker #device-picker-field {
    width: 100%;
    height: 55px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    color: #000;
}

#device-picker-results {
    display: flex;
    flex-wrap: wrap;
}

#device-picker .device-picker-result {
    flex-grow: 1;
    -webkit-box-shadow: 0 4px 4px -4px #777;
    -moz-box-shadow: 0 4px 4px -4px #777;
    box-shadow: 0 4px 4px -4px #777;
}

#device-picker .device-picker-result .device-picker-result-image {
    /*
    min-width: 128px;
    min-height: 160px;
    background: repeating-linear-gradient( -45deg, transparent, transparent 25%, #ED185D 0, #ED185D 50%), repeating-linear-gradient( 45deg, transparent, transparent 25%, #64CBE4 0, #64CBE4 50%), #fff2db;
    background-blend-mode: multiply;
    background-size: 10em 10em;
    */
}


/* Search input */

input#overlay-search::-webkit-input-placeholder {
    color: #f3175e !important;
}

input#overlay-search:-moz-placeholder {
    /* Firefox 18- */
    color: #f3175e !important;
}

input#overlay-search::-moz-placeholder {
    /* Firefox 19+ */
    color: #f3175e !important;
}

input#overlay-search:-ms-input-placeholder {
    color: #f3175e !important;
}


/* Utilities */

.full-width {
    width: 100% !important;
}

.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.m-y-auto {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.display-table {
    display: table;
}

.flex {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@media (max-width: 480px) {
    .full-mobile {
        width: 100%;
    }
    .xs-no-margin {
        margin: 0px;
    }
    .xs-no-padding {
        padding: 0px;
    }
    .xs-m-t-0 {
        margin-top: 0px !important;
    }
    .xs-m-r-0 {
        margin-right: 0px !important;
    }
    .xs-m-l-0 {
        margin-left: 0px !important;
    }
    .xs-m-b-0 {
        margin-bottom: 0px !important;
    }
}


/* Pages fixes*/

img {
    vertical-align: middle !important;
}


/* Misc */

.bootstrap-tagsinput .tag [data-role=remove]:after {
    font-family: pages-icon;
    content: "\e60a";
    padding: 0;
}

.tag-b-rad-sm {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.sidebar-menu .title,
.sidebar-menu .details {
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 990px) {
    .sidebar-menu .title.device-name {
        width: 100% !important;
        overflow: auto;
        text-overflow: string;
    }
}


/* Footer */

.footer a,
.footer a:active,
.footer a:hover {
    color: white
}

@media (max-width: 660px) {
    .footer ul {
        width: 100%;
    }
}


/* Profile Jumbotron */

.social-wrapper .social .jumbotron {
    height: 400px;
}

.social-wrapper .social .breadcrumb span {
    color: #fff;
}

.social-wrapper .social .jumbotron> :first-child {
    position: absolute;
}

.social-wrapper .social .jumbotron> :first-child li a,
.social-wrapper .social .jumbotron> :first-child li:before {
    color: white !important;
}

.social-wrapper .social .cover-gradient:before {
    background-image: linear-gradient( to bottom, rgba(64, 64, 64, 0.5) 0%, rgba(64, 64, 64, 0) 30%, rgba(64, 64, 64, 0) 55%, rgba(64, 64, 64, 0.5) 100%);
    bottom: 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.social-wrapper .social .cover-gradient {
    pointer-events: none;
}

.social-wrapper .social .cover-photo {
    pointer-events: none;
}

.social-wrapper .social .cover-photo:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: repeating-linear-gradient( -45deg, transparent, transparent 25%, #ED185D 0, #ED185D 50%), repeating-linear-gradient( 45deg, transparent, transparent 25%, #64CBE4 0, #64CBE4 50%), #fff2db;
    background-blend-mode: multiply;
    background-size: 10em 10em;
}

.social-wrapper .social .jumbotron #image-cropper {
    background-color: black;
}

.social-wrapper .social .jumbotron #image-cropper .cropit-preview {
    max-width: 1440px;
    position: absolute;
    left: 50%;
    margin-left: -720px;
}

.social-wrapper .social .jumbotron #cover-loader>div {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 40%;
}


/* Notification center */

.notification-item-details {
    max-width: 220px;
    word-wrap: break-word
}

.notification-item-details .wallpaper-title {
    margin-bottom: 5px;
    line-height: 20px
}


/* Notifications */

.notification-toggle:before {
    position: absolute;
    display: inline-block;
    content: '';
}

.notification-toggle:after {
    top: -5px;
    left: 76px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}

.notification .option {
    position: absolute;
    top: 0;
    width: 22px;
    right: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
    height: 100%;
}

.notification .more-details {
    margin-left: 8px
}


/* Radomir */

.cbutton {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    overflow: visible;
    -webkit-transition: color 0.7s;
    -moz-transition: color 0.7s;
    -o-transition: color 0.7s;
    transition: color 0.7s;
}

.cbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}

.cbutton--effect-radomir::after {
    box-shadow: inset 0 0 0 35px rgba(228, 229, 22, 0);
    -webkit-animation: anim-effect-radomir 1.5s ease-out infinite;
    -moz-animation: anim-effect-radomir 1.5s ease-out infinite;
    -o-animation: anim-effect-radomir 1.5s ease-out infinite;
    animation: anim-effect-radomir 1.5s ease-out infinite;
}

@-webkit-keyframes anim-effect-radomir {
    0%,
    20% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    50% {
        box-shadow: inset 0 0 0 2px rgba(228, 229, 22, 0.8);
        opacity: 0.1;
    }
    70%,
    100% {
        box-shadow: inset 0 0 0 2px rgba(228, 229, 22, 0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@-moz-keyframes anim-effect-radomir {
    0%,
    20% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    50% {
        box-shadow: inset 0 0 0 2px rgba(228, 229, 22, 0.8);
        opacity: 0.1;
    }
    70%,
    100% {
        box-shadow: inset 0 0 0 2px rgba(228, 229, 22, 0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@-o-keyframes anim-effect-radomir {
    0%,
    20% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    50% {
        box-shadow: inset 0 0 0 2px rgba(228, 229, 22, 0.8);
        opacity: 0.1;
    }
    70%,
    100% {
        box-shadow: inset 0 0 0 2px rgba(228, 229, 22, 0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-radomir {
    0%,
    20% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    50% {
        box-shadow: inset 0 0 0 2px rgba(228, 229, 22, 0.8);
        opacity: 0.1;
    }
    70%,
    100% {
        box-shadow: inset 0 0 0 2px rgba(228, 229, 22, 0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}