/*------------------------------------------------------------------
[22. Login]
*/


.login-wrapper{
	height: 100%;
	overflow: auto;
	background-position-x: 496px;
	& > * {
		//height: 100%;
	}
	.bg-pic{
		position: absolute;
		width: 100%;
	}
	.login-container{
		z-index: 99;
		width: 496px;
		display: table;
		position: relative;
		//.float(left);
	}
}
.register-container{
	width: 550px;
	margin: auto;
	height: 100%;
}


/* Responsive handlers : Login
------------------------------------
*/

@media (max-width: 768px) {
	.login-wrapper{
		.login-container{
			width: 100%;
		}
	}
	.register-container{
		width: 100%;
		padding: 15px;
	}
}

@media only screen and (max-width : 321px) {
	.login-wrapper{
		.login-container{
			width: 100%;
		}
	}
}