/* MaterialDesignIcons.com */

@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/material-icons/materialdesignicons-webfont.eot?v=1.9.32");
    src: url("../fonts/material-icons/materialdesignicons-webfont.eot?#iefix&v=1.9.32") format("embedded-opentype"), url("../fonts/material-icons/materialdesignicons-webfont.woff2?v=1.9.32") format("woff2"), url("../fonts/material-icons/materialdesignicons-webfont.woff?v=1.9.32") format("woff"), url("../fonts/material-icons/materialdesignicons-webfont.ttf?v=1.9.32") format("truetype"), url("../fonts/material-icons/materialdesignicons-webfont.svg?v=1.9.32#materialdesigniconsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.mdi:before,
.mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.mdi-18px.mdi-set,
.mdi-18px.mdi:before {
    font-size: 18px;
}

.mdi-24px.mdi-set,
.mdi-24px.mdi:before {
    font-size: 24px;
}

.mdi-36px.mdi-set,
.mdi-36px.mdi:before {
    font-size: 36px;
}

.mdi-48px.mdi-set,
.mdi-48px.mdi:before {
    font-size: 48px;
}

.mdi-dark {
    color: rgba(0, 0, 0, 0.54);
}

.mdi-dark.mdi-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.mdi-light {
    color: white;
}

.mdi-light.mdi-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.mdi-rotate-45 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mdi-rotate-90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mdi-rotate-135 {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.mdi-rotate-180 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mdi-rotate-225 {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.mdi-rotate-270 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.mdi-rotate-315 {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}

.mdi-flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.mdi-flip-vertical {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.mdi-account-multiple:before {
    content: "\F00E";
}

.mdi-clock-fast:before {
    content: "\F152";
}

.mdi-fire:before {
    content: "\F238";
}

.mdi-star:before {
    content: "\F4CE";
}

.mdi-eye:before {
    content: "\F208";
}

.mdi-download:before {
    content: "\F1DA";
}

.mdi-heart:before {
    content: "\F2D1";
}

.mdi-heart-outline:before {
    content: "\F2D5";
}

.mdi-menu:before {
    content: "\F35C";
}

.mdi-magnify:before {
    content: "\F349";
}

.mdi-cloud-upload:before {
    content: "\F167";
}

.mdi-cellphone-iphone:before {
    content: "\F120";
}

.mdi-laptop-mac:before {
    content: "\F324";
}

.mdi-tablet-ipad:before {
    content: "\F4F8";
}

.mdi-monitor:before {
    content: "\F379";
}

.mdi-desktop-mac:before {
    content: "\F1C4";
}

.mdi-login-variant:before {
    content: "\F5FC";
}

.mdi-account-plus:before {
    content: "\F014";
}

.mdi-bell:before {
    content: "\F09A";
}

.mdi-file-image:before {
    content: "\F21F";
}

.mdi-image-album:before {
    content: "\F2EA";
}

.mdi-image-multiple:before {
    content: "\F2F9";
}

.mdi-settings:before {
    content: "\F493";
}

.mdi-logout-variant:before {
    content: "\F5FD";
}

.mdi-close:before {
    content: "\F156";
}

.mdi-file:before {
    content: "\F214";
}

.mdi-delete:before {
    content: "\F1C0";
}

.mdi-account-card-details:before {
    content: "\F5D2";
}

.mdi-gender-male-female:before {
    content: "\F29E";
}

.mdi-calendar:before {
    content: "\F0ED";
}

.mdi-home-map-marker:before {
    content: "\F5F8";
}

.mdi-map-marker-radius:before {
    content: "\F352";
}

.mdi-city:before {
    content: "\F146";
}

.mdi-phone:before {
    content: "\F3F2";
}

.mdi-twitter:before {
    content: "\F544";
}

.mdi-facebook:before {
    content: "\F20C";
}

.mdi-instagram:before {
    content: "\F2FE";
}

.mdi-pinterest:before {
    content: "\F407";
}

.mdi-chevron-down:before {
    content: "\F140";
}

.mdi-chevron-left:before {
    content: "\F141";
}

.mdi-chevron-right:before {
    content: "\F142";
}

.mdi-chevron-up:before {
    content: "\F143";
}

.mdi-apple-ios:before {
    content: "\F037";
}

.mdi-earth:before {
    content: "\F1E7";
}

.mdi-format-quote:before {
    content: "\F27E";
}

.mdi-account-circle:before {
    content: "\F009";
}

.mdi-web:before {
    content: "\F59F";
}

.mdi-gender-female:before {
    content: "\F29C";
}

.mdi-gender-male:before {
    content: "\F29D";
}

.mdi-check-circle:before {
    content: "\F5E0";
}

.mdi-minus-circle:before {
    content: "\F376";
}

.mdi-format-quote:before {
    content: "\F27E";
}

.mdi-filter-remove:before {
    content: "\F234";
}

.mdi-filter-variant:before {
    content: "\F236";
}

.mdi-mailbox:before {
    content: "\F6ED";
}

.mdi-comment-question-outline:before {
    content: "\F186";
}

.mdi-content-save:before {
    content: "\F193";
}